* {
  margin: 0;
  padding: 0;
}

body {
  background: #282a36;
}

h1, h2, h3, h4, h5 {
  font-family: Playfair Display, serif;
  padding: 10px 0 10px 0;
  color: #8be9fd;
}

h6 {
  font-family: Source Sans Pro, sans-serif;
  color: #6272a4;
}

p {
  font-family: Source Sans Pro, sans-serif;
  padding: 10px 0 10px 0;
  color: #f8f8f2;
}

.wrap {
  width: 650px;
  margin: auto;
}